<!-- <div *ngIf="dataLoaded == false" class="spinner-border text-success" role="status">
  <span class="visually-hidden">Loading...</span>
</div>
<table class="table table-bordered" *ngIf="dataLoaded == true">
  <thead>
    <tr>
      <th>UserId</th>
      <th>Id</th>
      <th>title</th>
      <th>completed</th>
    </tr>
  </thead>
  <tr *ngFor="let todo of todos">
    <td>{{ todo.userId }}</td>
    <td>{{ todo.id }}</td>
    <td>{{ todo.title }}</td>
    <td>{{ todo.completed }}</td>
  </tr>
</table> -->
